.logo{
  max-width: 100px;
  max-height: 100px;
  min-width: 25px;
  min-height: 25px;
}

.player{
  padding: 5px;
}

.playerName{
  font-size: 4em;
}

.playerName small{
  font-size: 50%;
}

.statWindow .playerName{
  font-size: 3em;
}

.statWindow{
  font-size: 4em;
}

.statWindow small{
  font-size: 25%;
}

.team-1{
  background-color: #F57D31;
  color: #000;
}
.team-2{
  background-color: #F57D31;
  color: #000;
}
.team-3{
  background-color: #F57D31;
  color: #000;
}
.team-4{
  background-color: #F57D31;
  color: #000;
}
.team-5{
  background-color: #F57D31;
  color: #000;
}
.team-6{
  background-color: #F57D31;
  color: #000;
}
.team-7{
  background-color: #F57D31;
  color: #000;
}
.team-8{
  background-color: #F57D31;
  color: #000;
}
.team-9{
  background-color: #F57D31;
  color: #000;
}
.team-10{
  background-color: #F57D31;
  color: #000;
}
.team-11{
  background-color: #F57D31;
  color: #000;
}
.team-12{
  background-color: #013E7F;
  color: #FFF;
}
.team-13{
  background-color: #E51837;
  color: #FFF;
}
.team-14{
  background-color: #F57D31;
  color: #000;
}
.team-15{
  background-color: #F57D31;
  color: #000;
}
.team-16{
  background-color: #F57D31;
  color: #000;
}
.team-17{
  background-color: #00529C;
  color: #FFF;
}

.team-18{
  background-color: #F57D31;
  color: #000;
}
.team-19{
  background-color: #F57D31;
  color: #000;
}
.team-20{
  background-color: #C60C30;
  color: #FFF;
}
.team-21{
  background-color: #F57D31;
  color: #000;
}
.team-22{
  background-color: #F57D31;
  color: #000;
}
.team-23{
  background-color: #CB0D0D;
  color: #FDBF12;
}
.team-24{
  background-color: #013E7F;
  color: #EB6E1E;
}
.team-25{
  background-color: #F57D31;
  color: #000;
}
.team-26{
  background-color: #007889;
  color: #FFF;
}
.team-27{
  background-color: #F57D31;
  color: #000;
}
.team-28{
  background-color: #000;
  color: #FFF;
}
.team-29{
  background-color: #F57D31;
  color: #000;
}
.team-30{
  background-color: #F57D31;
  color: #000;
}
