$primary-color: #8278f3;
$text-color: #FFF;
$background-color: #4c5868;
$highlight-color: #79899e;
$body-color: #39414e;
$screen-sm: 768px;
$screen-md: 992px;

@mixin circle($size: 100px) {
  width: $size;
  height: $size;
  position: relative;

  -webkit-border-radius: $size / 2 + 0px;
  -moz-border-radius: $size / 2 + 0px;
  border-radius: $size / 2 + 0px;

  & > div, span {
    width: $size - $size*0.3;
    height: $size - $size*0.3;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    text-align: center;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  background-color: $body-color !important;
}

.logo {
  @include circle(100px);
  background: #FFF;
  padding: 5px;

  img {
    margin: auto;
    display: block;
    max-width: 75%;
    max-height: 75%;
    transform: translate(0%, 25%);
  }
}

.playerList {
  .player {
    @include border-radius(15px);
    margin: 2% 0 0 0;
    padding: 2%;
    background-color: $background-color;
    color: $text-color;
  }

  .selected {
    border: 3px solid $primary-color;
    padding: -webkit-calc(2% - 3px);
    padding:    -moz-calc(2% - 3px);
    padding:         calc(2% - 3px);
  }

  .category {
      @include border-radius(15px);
      background-color: $highlight-color;
      margin: 2% 0 0 0;
      padding: 2%;
      color: $text-color;
      font-size: 2em;
      text-align: center;

      .logo{
        margin: auto;
      }
  }
}

.playerName {
  font-size: 2em;

  small{
    font-size: 75%;
  }
}

.statWindow {
  font-size: 3em;
  color: $text-color;
  background-color: $background-color;
  padding-top: 2%;

  .playerName {
    font-size: 1em;
  }

  small {
    font-size: 50%;
  }

  .playerOrigin {
    font-size: 0.6em;
  }

  .playerBio {
    font-size: 0.7em;
  }

  .teamLogo {
    @include circle(150px);
    background: #FFF;
    padding: 10px;
    margin: auto;

    img{
      margin: auto;
      display: block;
      max-width: 75%;
      max-height: 75%;
      transform: translate(0%, 25%);
    }
  }

  @media (min-width: $screen-sm) and (max-width: $screen-md) {
    height: 20%;
    max-height: 200px;
    position: fixed !important;
    bottom: 0;
    border-top: 3px solid $primary-color;

    small{
      font-size: 75%;
    }
  }
  @media (min-width: $screen-md){
    height: 100%;
  }

  @media (orientation:landscape){
    height: 30%;
    max-height: 200px;
    font-size: 2.5em;
    .teamLogo {
      @include circle(125px);
    }
  }
}

button {
  color: $text-color !important;
  font-size: 2em !important;
  background-color: $primary-color !important;
  border: 0 !important;
  height: 5% !important;
}
